<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "yoyo2.jpeg" %>
  </div>

  <div id="content">
    <h2>Hey, I'm Brandon Ikeda</h2>
    <h3>When I'm not making the web, I'm making waves</h3>
    <p>Full-stack Developer specializing in back-end and front end development with 3+ years experience. Experienced with all stages of the development cycle for web projects. Well-versed in Java, C/C++, Python, PHP, Ruby including frameworks like Rails, TDD using Rspec, Github, Javascript including frameworks like JQuery, AngularJS and React, Postgresql, MongoDB, Heroku, Bootstrap and HTML/CSS. I am passionate about technology, law and the great outdoors!</p>
  </div>
</div>
